In [ ]:
# Module-1 Assignment-2

In [ ]:
# 1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

In [ ]:
tuple1 = (10,20,30)
tuple2 = (40,50,60)
type (tuple2)

tuple

In [ ]:
# 1a. Concatenate the two tuples and store it in “t_combine”
t_combine = tuple1 + tuple2
t_combine

(10, 20, 30, 40, 50, 60)

In [ ]:
# 1b. Repeat the elements of “t_combine” 3 times
t_combine = t_combine * 3
t_combine

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [ ]:
# 1c. Access the 3rd element from “t_combine”
print(t_combine[3])

40

In [ ]:
# 1d. Access the first three elements from “t_combine”
print(t_combine[:3])

(10, 20, 30)

In [ ]:
# 1e. Access the last three elements from “t_combine”
length = len(t_combine)
print(t_combine[length-3:])

(40, 50, 60)

In [ ]:
# 2. Create a list ‘my_list’ with these elements:
# a. First element is a tuple with values 1,2,3
# b. Second element is a tuple with values “a”,”b”,”c”
# c. Third element is a tuple with values True,False

In [ ]:
my_list =[(1,2,3),('a','b','c'), (True, False)]
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [ ]:
print(my_list[2])

(True, False)

In [ ]:
# 3. Append a new tuple – (1,’a’,True) to ‘my_list’
# a. Append a new list – ['sparta',123] to my_list

In [ ]:
tuple3 = (1,'a',True) 
my_list.append(tuple3)
print("After appending tuple3   ", my_list)

newList = ['sparta',123]
my_list.append(newList)
print("After appending newList  :", my_list)

After appending tuple3    [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), (1, 'a', True)]

In [ ]:
# 4. Create a dictionary ‘fruit’ where:
# a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
# b. The second key is ‘Cost’ and the values are (85,54,120,70)
# c. Extract all the keys from ‘fruit’
# d. Extract all the values from ‘fruit’

In [ ]:
fruit = {'Fruit' : ('Apple','Banana','Mango','Guava'), 'Cost':(85,54,120,70)}
print("Fruit Dictionary  :",fruit)

keys = fruit.keys()
print("Fruit Dictionary keys  :",keys)

values = fruit.values()
print("Fruit Dictionary  values :",values)

Fruit Dictionary  : {'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
Fruit Dictionary keys  : dict_keys(['Fruit', 'Cost'])
Fruit Dictionary  values : dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [ ]:
# 5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

my_set = {1,1,'a','a',True,True}
print("My Set values  :",my_set)

My Set values  : {1, 'a'}

In [ ]:
 x = range(10) 
 print(x)
 y = sum(x) 
 print(y)

range(0, 10)
45